# Baseline submission for the challenge CRDSM

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ayushshivani/aicrowd_educational_baselines/blob/master/CRDSM_baseline.ipynb)

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [1]:
!wget https://s3.eu-central-1.wasabisys.com/aicrowd-public-datasets/aicrowd_educational_crdsm/data/public/test.csv
!wget https://s3.eu-central-1.wasabisys.com/aicrowd-public-datasets/aicrowd_educational_crdsm/data/public/train.csv

--2020-03-28 23:42:06--  https://s3.eu-central-1.wasabisys.com/aicrowd-public-datasets/aicrowd_educational_crdsm/data/public/test.csv
Resolving s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)... 130.117.252.12, 130.117.252.10, 130.117.252.11
Connecting to s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)|130.117.252.12|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72142 (70K) [text/csv]
Saving to: ‘test.csv’

test.csv            100%[===================>]  70.45K  35.7KB/s    in 2.0s

2020-03-28 23:42:15 (35.7 KB/s) - ‘test.csv’ saved [72142/72142]

--2020-03-28 23:42:15--  https://s3.eu-central-1.wasabisys.com/aicrowd-public-datasets/aicrowd_educational_crdsm/data/public/train.csv
Resolving s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)... 130.117.252.11, 130.117.252.10, 130.117.252.12
Connecting to s3.eu-central-1.wasabisys.com (s3.eu-central-1.wasabisys.com)|130.117.252.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2543764 (2.4M) [text/csv]
Saving to: ‘train.csv’

train.csv            83%[===============>    ]   2.02M   101KB/s    eta 6s     ^C

## Load Data

In [3]:
train_data = pd.read_csv('train.csv')

## Analyse Data

In [4]:
train_data.head()

,max_ndvi,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N,class
0,997.904,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,-1628.240,-1325.64,...,-1043.160,-1942.490,267.138,366.608,452.238,211.328,-2203.02,-1180.190,433.906,4
1,914.198,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,-1408.64,...,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.00,-1360.560,524.075,4
2,3800.810,1671.3400,1206.880,449.735,1071.21,546.371,1077.840,214.564,849.599,1283.63,...,1566.160,2208.440,1056.600,385.203,300.560,293.730,2762.57,150.931,3800.810,4
3,952.178,58.0174,-1599.160,210.714,-1052.63,578.807,-1564.630,-858.390,729.790,-3162.14,...,368.622,-1786.950,-1227.800,304.621,291.336,369.214,-2202.12,600.359,-1343.550,4
4,1232.120,72.5180,-1220.880,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,-2829.40,...,155.624,-1189.710,-924.073,432.150,282.833,298.320,-2197.36,626.379,-826.727,4

In [5]:
train_data.describe()

,max_ndvi,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N,class
count,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,...,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000,10545.000000
mean,7282.721268,5713.832981,4777.434284,4352.914883,5077.372030,2871.423540,4898.348680,3338.303406,4902.600296,4249.307925,...,3640.367446,3027.313647,3022.054677,2041.609136,2691.604363,2058.300423,6109.309315,2563.511596,2558.926018,0.550213
std,1603.782784,2283.945491,2735.244614,2870.619613,2512.162084,2675.074079,2578.318759,2421.309390,2691.397266,2777.809493,...,2298.281052,2054.223951,2176.307289,2020.499263,2408.279935,2212.018257,1944.613487,2336.052498,2413.851082,1.009424
min,563.444000,-433.735000,-1781.790000,-2939.740000,-3536.540000,-1815.630000,-5992.080000,-1677.600000,-2624.640000,-3403.050000,...,-1043.160000,-4869.010000,-1505.780000,-1445.370000,-4354.630000,-232.292000,-6807.550000,-2139.860000,-4145.250000,0.000000
25%,7285.310000,4027.570000,2060.600000,1446.940000,2984.370000,526.911000,2456.310000,1017.710000,2321.550000,1379.210000,...,1392.390000,1405.020000,1010.180000,429.881000,766.451000,494.858000,5646.670000,689.922000,685.680000,0.000000
50%,7886.260000,6737.730000,5270.020000,4394.340000,5584.070000,1584.970000,5638.400000,2872.980000,5672.730000,4278.880000,...,3596.680000,2671.400000,2619.180000,1245.900000,1511.180000,931.713000,6862.060000,1506.570000,1458.870000,0.000000
75%,8121.780000,7589.020000,7484.110000,7317.950000,7440.210000,5460.080000,7245.040000,5516.610000,7395.610000,7144.480000,...,5817.750000,4174.010000,4837.610000,3016.520000,4508.510000,2950.880000,7378.020000,4208.730000,4112.550000,1.000000
max,8650.500000,8377.720000,8566.420000,8650.500000,8516.100000,8267.120000,8499.330000,8001.700000,8452.380000,8422.060000,...,7981.820000,8445.410000,7919.070000,8206.780000,8235.400000,8247.630000,8410.330000,8418.230000,8502.020000,5.000000

## Split Data into Train and Validation

In [6]:
X = train_data.drop('class',1)
y = train_data['class']
# Validation testing
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

## Define the Classifier and Train

In [7]:
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

/home/gera/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/gera/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

## Predict on Validation

In [21]:
y_pred = classifier.predict(X_val)

In [9]:
df = pd.DataFrame({'Actual': y_val, 'Predicted': y_pred})
df1 = df.head(25)
df1

       Actual  Predicted
1669        0          0
4901        0          0
3229        0          0
6521        0          0
2513        0          0
33          4          0
8279        2          0
360         0          0
2816        0          0
7049        0          0
6630        0          0
4687        0          0
7861        1          1
1453        0          0
1084        0          0
10302       3          0
4104        0          0
9728        3          0
3869        0          0
4344        0          0
7185        0          0
5964        0          0
2894        0          1
4702        0          0
932         0          0

## Evaluate the Performance

In [23]:
print('F1 score Score:', metrics.f1_score(y_val, y_pred,average='micro'))  
labels = [i for i in range(0,6)]
y_predy = np.zeros((len(y_val),len(labels)))
for index,val in enumerate(y_val):
	y_predy[index][val] = 1
print('Log Loss Score:',metrics.log_loss(y_val,y_predy,labels=labels))

F1 score Score: 0.8378378378378378
Log Loss Score: 5.424931880355455e-15

## Load Test Set

In [25]:
test_data = pd.read_csv('test.csv')

## Predict Test Set

In [26]:
y_test = classifier.predict(test_data)

In [28]:
df = pd.DataFrame(y_test,columns=['class'])
df.to_csv('submission.csv',index=False)

## To download the generated csv in collab run the below command

In [ ]:
from google.colab import files
files.download('submission.csv')

To participate in the challenge click [here](https://www.aicrowd.com/challenges/crdsm-crowdsourced-map-land-cover-prediction/)